<!DOCTYPE html>
<html lang="en">
<head>
    <title>WTHR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-100">
    <%= render 'layouts/header' %>
    <!-- Main Content Area -->
    <main class="container mx-auto px-4 py-8 !mt-8">
        <%= render 'layouts/nav_modal' %>
        <%= render 'layouts/alerts' %>
        <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    
</body>
</html>
